@import "~bootstrap/scss/bootstrap";

.server-outline {
    border: 2px solid black
}

.lock-status-icon{
    font-size: 35px;
    &.locked{
        color: #d50000
    }
    &.unlocked{
        color: #02c151
    }
}